<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div class="catalogue-item-inner">
    <div class="catalogue-item-content">
      {% if include.sticky == 'true' %}
      <span class="catalogue-pinned">Pinned &middot;</span>
      {% endif %}
      <h1 class="catalogue-title">{{ post.title }}</h1>
      <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%-d %b '%y" }}</time>
      {% if post.context %}
        <span class="catalogue-context"> | {{ post.context }}</span>
      {% endif %}

      <p>
        {% if post.excerpt_separator %}
          {{ post.excerpt | strip_html }}
        {% else %}
          {{ post.content | strip_html | truncatewords: 30 }}
        {% endif %}
      </p>
    </div>

    {% if post.image %}
    {% capture post_image %}
      {% if post.image contains '://' %}
        {{ post.image }}
      {% else %}
        {{ post.image | prepend: site.baseurl }}
      {% endif %}
    {% endcapture %}
    <div class="catalogue-item-image">
      <img src="{{ post_image | strip }}" alt="{{ post.title }}" loading="lazy" width="{{ post.image_width }}" height="{{ post.image_height }}" />
    </div>
    {% endif %}
  </div>
</a>
